<!-- GettingStartedTemplate -->
<ons-page>
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
    	<a href='#' class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
    	<h1>Getting Started</h1>
    </div>
    <div data-role="content" class="gettingStarted">
    	<h1 class="pageHeading">Revise Using our Free Questions</h1>
    	<p>The BMJ OnExamination app lets you revise anytime, anywhere with our clinically rich case problems that test your knowledge across a range of relevant topics and question formats.</p>
		<p>You can choose to revise with or without a data connection, enabling you to answer questions both on and offline.</p>
		<p>Our app containing a selection of free questions is available on a range of our revision resources including:</p>
	
		<ul class="gettingStartedExamList">
		
			<li><a onclick="appLib.openLink('http://www.onexamination.com/general-medicine/mrcp-part-1?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCP Part 1</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/general-medicine/mrcp-part-2-written?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCP Part 2 written</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/general-practice/mrcgp?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCGP</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/general-practice/gp-st-stage-2-knowledge-test?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">GP ST</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/students/medical-student-finals?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">Medical Student Finals</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/students/situational-judgement-test?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">Situational Judgement Test for Students</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/students/medical-student-years-2-to-3?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">Medical Student Years 2-3</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/students/medical-student-year-1?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">Medical Student Year 1</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/obs-and-gynae/mrcog-part-1?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCOG Part 1</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/obs-and-gynae/mrcog-part-2?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCOG Part 2</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/obs-and-gynae/drcog?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">DRCOG</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/child-health/mrcpch-part-1-a-and-b?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCPCH Part 1 A &amp; B</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/child-health/mrcpch-part-2?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCPCH Part 2</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/surgery/mrcs-part-a-papers-1-and-2?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">MRCS Part A Papers 1 & 2</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/surgery/frcs-general-surgery?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">FRCS General Surgery</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/worldwide/plab?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">PLAB</a></li>
			
			<li><a onclick="appLib.openLink('http://www.onexamination.com/anaesthesia/frca-primary?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App', '_system');">FRCA Primary</a></li>
			
		</ul>
	
		<p>and many more.</p>
		
		<p>Choose to revise with either Work Smart - which allows you to answer questions by topic, level of difficulty or key word; or Work Hard - which delivers revision questions to you in a random order to fully prepare you for exam day.</p>

		<p>Check your scores at the end of each session to see how well you performed. </p>
	    
	    <h3>Current BMJ OnExamination Customers</h3>
	    <p>Once signed in to your account you can download up to 100 questions at a time and revise using both Work Hard or Work Smart. After completing a set of questions your answers and scores will synchronise back to your account (if an internet connection is available). You can also work offline and answer previously downloaded questions.</p> 
        
        <h3>Get a Revision Account with BMJ OnExamination</h3>
	    <p>If you don't already have a revision account with BMJ OnExamination, you can sign-up for the full database of questions at <a onclick="appLib.openLink('http://www.onexamination.com/?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App');">BMJ OnExamination</a>.</p>
	    
	    <h3>Answering Questions</h3>
	    <p>You need an internet connection to download questions before you are able to answer them offline. Questions can download in batches of up to 100  at a time. Once a question has been answered the correct option, explanation and links to further reading will be displayed.</p>
	    
	    <h3>Scores</h3>
	    <p>At the end of each session to will be given a score to know how well you did in that session. If an internet connection is available your scores will be synchronised with your online revision resource.</p>
	    <br />
    	<div class="clear"></div>
    	<div class="webLink">
			<a onclick="appLib.openLink('http://www.onexamination.com/?utm_source=<%= appLib.getDevice() %>-App&utm_medium=Link&utm_campaign=OE-Mobile-App');">Find out more about BMJ OnExamination.</a>  	
    	</div>
    
    </div>
</ons-page>
