<!-- ListChallengesTemplate -->
<!-- List Challenges -->

<ons-page>
    <div data-role="header">
    	<a href='#' class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
    	<h1>Challenges</h1>
    </div>

    <div data-role="content">
		<div data-role="fieldcontain">
			<h1 class="pageHeading">Challenges from your friends</h1>
			<select name="challengeList" data-theme="e" id="challengeList">					
			</select>
		</div>
										
		<div class="marginTop">                
			<button id="selectChallenge" data-icon="check" data-theme="b" data-shadow="false">Start Challenge</button>			
		</div>
	</div>
</ons-page>
